.experience__container {
	display: grid;
  place-items: center;
	gap: 1rem;	
  background: var(--color-bg-variant);
	padding: 2.4rem 5rem;
	border-radius: 2rem;
	border: 1px solid transparent;
	transition: var(--transition);
}

.experience__container:hover {
	background: transparent;
	border-color: var(--color-primary-variant);
	cursor: default;
}

.experience__frontend {
display: flex;
justify-content: space-between;
gap: 2rem;

}

