section{
margin: 4rem;
}

.footer__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__container > .socials {
  display: flex;
  gap: 1.2rem;
  font-size: 1.6rem;
}

.footer__container > .socials > a {
  color: var(--color-light);
}
.footer__container > .socials > a:nth-child(3) {
    font-size: 1.5rem;
    margin-top: 2px;
}