.about__container {
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: 2rem;

}

.about__me {
	width:80%;
	aspect-ratio: 1/1;
	border-radius: 2rem;
  display: grid;
  place-items: center;
	background: linear-gradient(
		45deg,
		transparent,
		var(--color-primary),
		transparent
	);
}

.about__me-foto {
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 2rem;
  transform: rotate(10deg);
  transition: var(--transition);
}

.about__me-foto:hover{
  transform: rotate(0);
}


.about__content p {
  color: var(--color-light);
  margin: 0rem 0 2.6rem;
}



/* ------------- MEDIUM DEVICES ------------ */
@media screen and (max-width: 1024px) {
.about__container {
  grid-template-columns: 1fr ;
  gap: 0;
}

.about__me {
width: 30%;
margin: 1rem auto 2rem;
}

.about__content{
  display: grid;
  place-items: center;

}

.about__content p {
  margin: 1rem 0 2rem;
  text-align: center;
}
}

/* ------------- SMALL DEVICES ------------ */
@media screen and (max-width: 680px) {
  .about__me {
    width: 55%;
    margin: 0 auto 2rem;
  }

  .about__content{
    text-align: center;
  }

  .about__content p {
    margin: 1.5rem 0;
  }
}

